.containerPrincipal {
    background-color: rgb(8, 22, 36);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .selectors {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .selectors select {
    margin-left: 10px;
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: inherit;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  select option {
    color: black;
    background-color: white;
    text-align: center;
  }
  
  .selectors select:focus {
    outline: none;
  }

  #btnInicio {
    margin: 30px;
    position: absolute;
    margin-top: 10px;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .input-container {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
  .input-container input {
    width: 30%; 
    margin: 18px;
  }

  .form-control {
    border: 1px solid rgb(8, 22, 36);
  }

  #title{
    padding: 6px;
    font-size: 100% ;
    font-weight: bold;
    text-align: center;
  }

  .movie-poster {
    margin: 0px;
    border-radius: 20px;
  }

  .movieCard{
    border: 1px solid rgb(8, 22, 36);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 30px;
  }

  
