.containerPrincipal {
    background-color: rgb(8, 22, 36);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .selectors {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .selectors select {
    margin-left: 10px;
    appearance: none;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-family: inherit;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  select option {
    color: black;
    background-color: white;
    text-align: center;
  }
  
  .selectors select:focus {
    outline: none;
  }
  

  #btnInicio {
    margin: 30px;
    position: absolute;
    margin-top: 10px;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .input-container {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
  .searchContainer {
    width: 50%;
    margin: 18px;
    display: flex;
    justify-content: center;
    visibility: visible; 
  }
  
  .form-control {
    width: 100%;
    border: 1px solid rgb(8, 22, 36);
    box-sizing: border-box;
    padding: 10px;
  }

  .container.hide-search .searchContainer {
    display: none; 
  }
  
  .hide-search {
    display: none;
  }

  #title{
    padding: 6px;
    font-size: 1em;
    text-align: center;
  }

  .infoTitle{
    padding: 6px;
    font-size: 100% ;
    font-weight: bolder;
    text-align: center;
  }

  .movie-poster {
    margin: 0px;
    border-radius: 20px;
  }
  .movie-poster:hover {
    filter: brightness(120%);
  }

  .movieCard{
    border: 1px solid rgb(8, 22, 36);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 30px;
  }

  .movieDetail {
    display: flex;
    padding: 20px;
    border: 2px solid  rgb(8, 22, 36);
    max-width: 90%;
    margin: 10px auto;
    border-radius: 10px;
  }
  
  
  .movieContent {
    display: flex;
    align-items: flex-start;
  }
  
  .imgPortada {
    flex: 0 0 30%;
  }
  
  .movieInfo {
    flex: 1;
    margin-left: 20px;
  }
  
  .title {
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .votos {
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: -33px;
    margin-left: 78%;
  }
  
  .genero {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .sinopsis {
    text-align: justify;
    font-size: 1em;
  }
  