<button type="button" id="btnInicio">Inicio</button>
<section class="containerPrincipal">
  <div class="selectors">
    <select  id="Order" [(ngModel)]="orderBy" (change)="orderMovies()">
        <option disabled selected hidden>Ordenar</option>
        <option value="asc">Ascendente</option>
        <option value="desc">Descendente</option>
    </select>
    <select id="genero" [(ngModel)]="selectedGenre" (change)="movieGenero()">
      <option disabled selected hidden>Genero</option>
      <option value=28>Acción</option>
      <option value=35>Comedia</option>
      <option value=18>Drama</option>
      <option value=16>Animadas</option>
      <option value=14>Fantasia</option>
      <option value=27>Horror</option>
      <option value=10749>Romance</option>
      <option value=9648>Misterio</option>
    </select>
    <select id="populares" [(ngModel)]="selectedPopularity" (change)="moviePopularity()">
      <option disabled selected hidden>Populares</option>
      <option value="semana">Esta semana</option>
      <option value="mes">Este mes</option>
      <option value="todos">Todos los tiempos</option>
    </select>
  </div>
</section>

<div class="input-container">
  <input type="text" name="movieTitle" class="form-control" autofocus placeholder="Buscar Película..." [(ngModel)]="movieTitle" (input)="buscarPeliculas()">
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let movie of filteredMovies"  class="col-xs-12 col-sm-4 col-md-3 ">
      <div class="movieCard">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="Portada de la película" class="img-fluid movie-poster">
      <p id="title">{{ movie.title }}</p>
      <p id="title">{{ getGenreName(movie.genre_ids[0]) }}</p>
      <p id="title">{{ movie.popularity}}</p>
    </div>
    </div>
  </div>
</div>