.containerPrincipal {
  background-color: rgb(8, 22, 36) !important;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.selectors {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selectors select {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.233);
  border: none;
  font-size: 16px;
  font-family: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
  height: 25px;
}

select option {
  color: black;
  background-color: white;
  text-align: center;
}

.selectors select:focus,
.selectors select:hover {
  outline: none;
  background-color: rgba(65, 140, 214, 0.39);
}

#btnInicio {
  margin: 30px;
  position: absolute;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.233);
  width: 80px;
  height: 25px;
  margin-top: 10px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnInicio:hover {
  background-color: rgba(65, 140, 214, 0.39);
}

.input-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.searchContainer {
  width: 50%;
  margin: 18px;
  display: flex;
  justify-content: center;
  visibility: visible;
}

.form-control {
  width: 100%;
  border: 1px solid rgb(8, 22, 36);
  box-sizing: border-box;
  padding: 10px;
}

.container.hide-search .searchContainer {
  display: none;
}

.hide-search {
  display: none;
}

#title {
  padding: 6px;
  font-size: 1em;
  text-align: center;
}

.infoTitle {
  padding: 6px;
  font-size: 100%;
  font-weight: bolder;
  text-align: center;
}

.movie-poster {
  margin: 0px;
  border-radius: 20px;
}

.movie-poster:hover {
  filter: brightness(120%);
}

.movieCard {
  border: 1px solid rgb(8, 22, 36);
  border-radius: 20px;
  padding: 0px;
  margin-bottom: 30px;
  background-color: white;
}

.movieDetail {
  display: flex;
  padding: 20px;
  border: 2px solid rgb(8, 22, 36);
  max-width: 90%;
  margin: 10px auto;
  border-radius: 10px;
  background-color: white;
  margin-top: 70px;
}

.movieContent {
  display: flex;
  align-items: flex-start;
}

.imgPortada {
  flex: 0 0 30%;
}

.movieInfo {
  flex: 1;
  margin-left: 20px;
}

.title {
  font-weight: bolder;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.votos {
  font-size: 0.9em;
  margin-bottom: 10px;
  margin-top: -33px;
  margin-left: 83%;
}

.star-icon {
  color: rgb(255, 225, 0);
}

.genero {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.sinopsis {
  text-align: justify;
  font-size: 0.9em;
}

/* Estilos para pantallas pequeñas */

@media screen and (max-width: 767px) {
  .selectors {
    padding: 10px;
  }

  .selectors select {
    font-size: 14px;
    width: 70px;
    height: 25px;
  }

  #btnInicio {
    position: absolute;
    margin: 30px;
    width: 80px;
    height: 25px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 5px;
  }

  .searchContainer {
    width: 80%;
    height: 30px;
    margin: 15px;
  }

  .container.hide-search .searchContainer {
    display: none;
  }
  
  .hide-search {
    display: none;
  }
  
  #title {
    padding: 6px;
    font-size: 1em;
    text-align: center;
  }
  
  .infoTitle {
    padding: 6px;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }
  
  .movie-poster {
    margin: 0px;
    border-radius: 20px;
    text-align: center;
  }
  
  .movie-poster:hover {
    filter: brightness(120%);
  }
  
  .movieCard {
    border: 1px solid rgb(8, 22, 36);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 30px;
    background-color: white;
  }
  
  .movieDetail {
    display: flex;
    padding: 20px;
    border: 2px solid rgb(8, 22, 36);
    max-width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    margin-top: 70px;
  }
  
  .movieContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
  }
  
  .imgPortada {
    flex: 0 0 30%;
    order: 1;
    margin-bottom: 10px;
  }
  
  .movieInfo {
    flex: 1;
    order: 2;
    text-align: center;
  }
  
  .title {
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .votos {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 0%;
  }
  
  .star-icon {
    color: rgb(255, 225, 0);
  }
  
  .genero {
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .sinopsis {
    text-align: justify;
    font-size: 0.9em;
  }
}
