body {
  background-color: rgb(8, 22, 36);
  margin: 0;
}

.header-container {
  width: 100%;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px; 
  justify-content: flex-end;
}

.header-content {
  display: flex;
  align-items: center; 
}

h1 {
  color: white;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  font-size: 2em;
  margin: 15px;
  position: absolute;
}

#btnInicio {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#btnInicio:hover {
  background-color: rgba(65, 140, 214, 0.5); 
}

.selectors select {
  margin: 10px;
  border: none;
  font-size: 18px;
  appearance: none;
  font-family: inherit;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(65, 139, 214, 0);

}

select option {
  color: black;
  background-color: white;
  text-align: center;
}

.selectors select:focus,
.selectors select:hover {
  background-color: rgba(65, 140, 214, 0.5); 
}

.search-icon-container {
  position: relative;
  margin-right: 10px; /* Espacio entre el icono y el input */
}

.searchContainer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 30px;
  margin-top: -580px;
}

.search-icon { 
  padding: 5px;
  color: white;
}

.search-icon:hover {
  background-color: rgba(65, 140, 214, 0.5); 
  width: 30px;
  height: 28px;
  border-radius: 10px;
}


.movieCard{
  color: rgba(255, 255, 255, 0.781);
  margin: 15px;
}

.movieInfo{
  color: rgba(255, 255, 255, 0.781);
}

.container{
  margin: 50px;
}

/*estilos pantallas pequenas*/

@media screen and (max-width: 767px) {
  h1 {
    top: 12px;
    font-size: 1.5em;
  }

  .selectors {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .selectors select {
    font-size: 14px;
    width: 100px;
    height: 25px;
    margin: 5px;
  }

  #btnInicio {
    margin: 10px;
    width: 80px;
    height: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 5px;
  }

  .searchContainer {
    width: 80%;
    height: 30px;
    margin: 15px;
  }

  .container.hide-search .searchContainer {
    display: none;
  }

  .hide-search {
    display: none;
  }

.search-icon {
  position: absolute;
  left: 10px;
  top: 8px;
  color: white;
  pointer-events: none;
}
.search-icon:hover{
  background-color: rgba(65, 140, 214, 0.39);

}

  #title {
    padding: 6px;
    font-size: 1em;
    text-align: center;
  }

  .infoTitle {
    padding: 6px;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }

  .movie-poster {
    margin: 0px;
    border-radius: 20px;
    text-align: center;
  }

  .movie-poster:hover {
    filter: brightness(120%);
  }

  .movieCard {
    border: 1px solid rgb(8, 22, 36);
    border-radius: 20px;
    padding: 0px;
    margin-bottom: 30px;
    background-color: white;
  }

  .movieDetail {
    display: flex;
    padding: 20px;
    border: 2px solid rgb(8, 22, 36);
    max-width: 90%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: white;
    margin-top: 70px;
  }

  .movieContent {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
  }

  .imgPortada {
    flex: 0 0 30%;
    order: 1;
    margin-bottom: 10px;
  }

  .movieInfo {
    flex: 1;
    order: 2;
    text-align: center;
  }

  .title {
    font-weight: bolder;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
  }

  .votos {
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-left: 0%;
  }

  .star-icon {
    color: rgb(255, 225, 0);
  }

  .genero {
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .sinopsis {
    text-align: justify;
    font-size: 0.9em;
  }
}
