.movieTitle {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
}
.movieTitle:hover {
  opacity: 0.5;
}
.movieImage {
  border-radius: 15px;
  background-color: azure;
}
@media (max-width: 560px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
